$colors = {
  white: #ffffff,
  gray: #666666,
  orange: #f17d0b
}

$game-ids = '1' '29' '150' '17' '21' '3' '35' '161' '155' '157' '156' '4' '152' '153' '6' '11' '7' '8' '22' '36' '37' '38' '46' '39' '13' '43' '151' '162' '23' '24' '25' '26' '33'

/* 公共文字颜色 */
$theme-txt-color = $colors.gray
$theme-txt-color1 = $colors.orange
$theme-txt-color2 = #999999
$theme-txt-color3 = #ff5429 // 红色
$theme-txt-color4 = $colors.white

/* 公共背景颜色 */
$theme-bg-color = $colors.white
$theme-bg-color1 = #ff5423 // 红色

/* 公共边框颜色 */
$theme-bd-color = #f7f7f7
$theme-bd-color1 = #ff5423
$theme-bd-color2 = #e7e7e7
$theme-bd-color3 = $colors.white

$theme-btn-bg-color = linear-gradient(to right, #ff8331, #ff6e2d, #ff5429)
$theme-btn-bg-color1 = #e8e8e8

/* components/app-header */
$app-header-bg-color = linear-gradient(to right, #ff8331, #ff6e2d, #ff5529)

/* components/method-menu */
$method-menu-bg-color = #eeeeee
$method-menu-bd-color = #e4e4e4
$method-menu-item-selected-bg-color = #f17d0b
$method-menu-item-selected-txt-color = #fff

/* components/play */
$play-method-name-bd-color = #d4d4d4
$play-method-item-selected-bg-color = #ff501b
$play-method-item-selected-txt-color = $colors.white
$play-white-bg-img = linear-gradient(to bottom, #fefefe, #f1f2f4, #e4e7eb)
$play-method-name-selected-bg-color = #ff501b

/* components/sub-method-menu */
$sub-method-menu-item-bg-color = #fafafa
$sub-method-menu-item-selected-bg-color = #e97c00

/* components/ludan */
$ludan-menu-item-bd-color = #dddddd
$ludan-menu-item-selected-color = $theme-bg-color1
$ludan-menu-item-selected-bd-color = $theme-bd-color1
$ludan-sub-menu-bg-color = #eeeeee
$ludan-sub-menu-bd-color = #e4e4e4
$ludan-sub-menu-item-selected-color = #ffffff
$ludan-tb-cell-bd-color = #ffffff
$ludan-tb-cell-color = $colors.white
$ludan-open-item-bg-color-red = #ff501b
$ludan-open-item-bg-color-green = #1aaf1a
$ludan-open-item-bg-color-blue = #009bc7
$ludan-open-item-bg-color-yellow = #fbff00
$ludan-tb-cell-bg-color = #eeeeee
$ludan-open-item-icon-cur = '../../assets/images/default/icon-cur.png'
$ludan-open-item-icon-qs = '../../assets/images/default/icon-qs.png'

/* views/lobby */
$lobby-game-header-bd-b-color = #d6d6d6

/* components/game-header */
$game-header-open-num-item-bg-color = $theme-bg-color1
$game-header-hc6-open-num-item-bg-color = #f7f7f8
$game-header-animal-txt-color = #bdbdbd
$game-header-icon-plus-color = #bdbdbd

/* components/method-menu */
$method-menu-item-selected-txt-color = $theme-txt-color4
$method-menu-item-selected-bg-color = $theme-bg-color1

/* components/play */
$play-method-item-bd-color = $theme-bd-color2
$play-method-name-bd-color-red = #ff501b
$play-method-name-bd-color-blue = #39aaff
$play-method-name-bd-color-green = #5dbd3f

/* components/coin-set */
$coin-set-selected-txt-color = #ff9f22
$coin-set-bd-color = #d1d1d1

/* components/order-bar */
$order-bar-btn-reset-bg-color = linear-gradient(to right, #ffbe41, #ff9d20)
$order-bar-btn-order-bg-color = linear-gradient(to right, #ff8331, #ff5429)
$order-bar-fast-amount-bg-color = #f0f0f0

/* views/game */
$game-view-bg-color = #f7f7f7

