.method-menu-view {
  background $theme-bg-color
  .menu-wp {
    height 60px
    padding 0 22px
    margin-bottom: 14px;
    &>nav {
      height 100%
    }
    .menu-item-ls {
      padding 9px 0 
      &::after {
        content ''
        clear both
        display block
      }
    }
    .menu-item {
      height: 56px;
      line-height 56px
      word-break: keep-all;
      width 172px
      float left
      flex-shrink: 0;
      text-align center
      background-image: url('~src/assets/images/lotteryCenter/but_normal@2x.png');
      background-size: 100% 100%;
      box-sizing border-box
      &.selected {
        background-image: url('~src/assets/images/lotteryCenter/but_seleted@2x.png');
        color $method-menu-item-selected-txt-color
        border-radius 20px
      }
    }
  }
}