.coin-set-view {
  $base-dir = '../../assets/images/default/';
  bgImage(img) {
    background: url($base-dir + img) center no-repeat;
  }
  padding: 20px 22px 20px 22px;
  border-bottom: solid 1px #3b9ec5;
  bgImage('bottom_bg@2x.png');
  background-size: 100% 100%;
  background-color: $theme-bg-color;
  .coin-item {
    width: 84px;
    height: 84px;
    line-height: 84px;
    text-align: center;
    background-size: 100% !important;
    cursor: pointer;
    font-weight: bold;
    font-size: 28px;
    color: #fff;
    position: relative;
    .right {
      width: 30px;
      height: 30px;
      position: absolute;
      bgImage('bot_seleted@2x.png');
      right: -12px;
      bottom: 4px;
      display none
      background-size: 100% 100%;
    }
    &.selected {
      .right {
        display block;
      }
    }
  }
  .coin-gray {
    bgImage('coin-gray@2x.png');
  }
  .coin-yellow {
    bgImage('coin-yellow@2x.png');
  }
}
