.game-menu
  .top
    background $app-header-bg-color
  
  .left-item 
    color: #9ccaf0;

  .left-item.active
    background-image: url('~src/assets/images/lotteryCenter/but_seleted@2x.png');
    background-size: 100% 57px;
    background-repeat no-repeat
    color: #ffffff;
    background-position: center;

  .nav-list-bg 
    background-color #0d2238

  .list-wrapper 
    background $theme-bg-color;

  .logo_bg 
    background-image: url('~src/assets/images/default/gameicon/logo_bg@2x.png')
    width 119px
    height 139px
    background-size 100% 100%
    margin-bottom 20px