.game-menu
  .top
    background $app-header-bg-color
  
  .left-item.active
    border-left 6px solid 
    border-image linear-gradient(
      to bottom, 
      rgba(0, 0, 0, 0) 30%,
      red 30%,
      red 70%,
      rgba(0, 0, 0, 0) 70%
    ) 1 100%;
    
    
    