.ludan-menu-view {
  border-top solid 1px $ludan-sub-menu-bd-color
  border-left solid 1px $ludan-sub-menu-bd-color
  border-right solid 1px $ludan-sub-menu-bd-color
  .menu-wp {
    overflow hidden
  }
  .menu {
    width 1400px
    height 54px
    margin-top 5px
    padding-bottom 5px
    .menu-item {
      min-width 100px
      height 100%
      line-height 54px
      box-sizing border-box
      margin 0 4px
      float left
    }
    .selected {
      color $ludan-menu-item-selected-color
      background-color $ludan-menu-item-selected-bg-color
      border solid 1px $ludan-menu-item-selected-bg-color
    }
    &::after {
      content ''
      clear both
    }
  }
}
