.ludan-table-view {
  // padding 16px
  .tb-wp {
    > .col {
      width: 36px;
    }
  }
  .tb-cell {
    width: 36px;
    font-size: 20px;
    height: 36px;
    border-right: solid 1px #0d3c61;
    border-bottom: solid 1px #0d3c61;
    box-sizing: border-box;
    color: $ludan-tb-cell-color;
    position: relative;
    background-color: #06203a;
    &:before, &:nth-last-child(1):after {
      position: absolute;
      content: '';
      width: 2px;
      height: 2px;
      left: -2px;
      top: -2px;
      background-color: #336d96;
    }
    &:nth-last-child(1) {
      &:after {
        top: auto;
        bottom: 0px;
      }
    }
  }
  .ld-item {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    &.txt-r {
      background-color: $ludan-open-item-bg-color-red;
    }
    &.txt-g {
      background-color: $ludan-open-item-bg-color-green;
    }
    &.txt-b {
      background-color: $ludan-open-item-bg-color-blue;
    }
    &.txt-y {
      background-color: $ludan-open-item-bg-color-yellow;
      color: #fff;
    }
    &.icon-cur {
      bg($ludan-open-item-icon-cur);
    }
    &.icon-qs {
      bg($ludan-open-item-icon-qs);
    }
  }
}
