.ludan-view {
  background-color: #0e2e4e;
  padding: 0 24px 12px;
  .ludan-menu-view {
    background: #0e2e4e;
    .menu-wp {
      overflow: hidden;
    }
    .menu {
      min-width: 800px;
      height: 60px;
      margin-top: 5px;
      padding-bottom: 5px;
      .menu-item {
        min-width: 100px;
        height: 100%;
        line-height: 60px;
        box-sizing: border-box;
        padding: 0 10px;
        float: left;
        text-align: center;
      }
      .selected {
        color: #fff;
        position: relative;
        text-align: center;
        &::after {
          width: 38px;
          content: '';
          display: inline-block;
          border-bottom: solid 6px #1ebcf7;
          position: absolute;
          bottom: 0;
          left: calc(50% - 38px / 2);
        }
      }
      &::after {
        content: '';
        clear: both;
        display: block;
      }
    }
  }
}

.ludan-wp .ludan-view {
  padding: 0;
}
