.lobby-game-view {
  background $theme-bg-color
  border-radius 8px
  margin-bottom 15px
  cursor pointer
  position relative
  .ludan-wp {
    padding 5px 20px 20px 20px
  }
  .best-dudan-name {
    height 46px
    line-height 46px
    padding 0 20px
  }
}
