.limit-set-content {
  padding 66px 25px 0 25px
  .btn-limit-amount {
    width 180px
    height 120px
    background-color $theme-btn-bg-color1
    margin 0 8px
    &.selected {
      background $theme-btn-bg-color
      color $theme-txt-color4 
    }
  }
  .am-button {
    display flex
  }
  .limit-explain-tip {
    text-align left
    font-size 22px
    margin-top 30px
  }
  .btn-confirm {
    background $theme-btn-bg-color
    color $theme-txt-color4 
    margin-top 66px
  }
}
.limit-set-header {
  height 100px
  position relative
  background $theme-btn-bg-color
  color $theme-txt-color4
  font-size 32px
  .am-icon-cross {
    width 41px
    height 41px
    position absolute
    right 20px
    top 20px
  }
}
.am-modal-wrap .am-modal.limit-set-modal {
  width 620px !important
  height 620px !important
  .am-modal-header {
    padding 0
  }
  .am-modal-content {
    border-radius: 30px 30px 15px 15px;
  }
}
