urls = {
    _gid1: '~src/assets/images/default/gameicon/game_icon_hlsx',
    _gid155: '~src/assets/images/default/gameicon/game_icon_cqhjc',
    _gid29: '~src/assets/images/default/gameicon/game_icon_txffc',
    _gid17: '~src/assets/images/default/gameicon/game_icon_hlffc',
    _gid21: '~src/assets/images/default/gameicon/game_icon_xfsfc',
    _gid150: '~src/assets/images/default/gameicon/game_icon_rs5fc',
    _gid3: '~src/assets/images/default/gameicon/game_icon_xjssc',
    _gid156: '~src/assets/images/default/gameicon/game_icon_cqhjc',
    _gid4: '~src/assets/images/default/gameicon/game_icon_tjssc',
    _gid35: '~src/assets/images/default/gameicon/game_icon_hljssc',
    _gid152: '~src/assets/images/default/gameicon/game_icon_tx2fcj',
    _gid153: '~src/assets/images/default/gameicon/game_icon_tx2fco',
    _gid161: '~src/assets/images/default/gameicon/game_icon_alyffc',
    _gid158: '~src/assets/images/default/gameicon/game_icon_hn5fc',
    _gid163: '~src/assets/images/default/gameicon/game_icon_hn1fc',
    _gid164: '~src/assets/images/default/gameicon/game_icon_qqffc',
    _gid157: '~src/assets/images/default/gameicon/game_icon_cqhjffc',
    _gid18: '~src/assets/images/default/gameicon/game_icon_hg15fc',
    _gid19: '~src/assets/images/default/gameicon/game_icon_dj15fc',
    _gid34: '~src/assets/images/default/gameicon/game_icon_jq30m',
    _gid165: '~src/assets/images/default/gameicon/game_icon_qq5fc',
    _gid166: '~src/assets/images/default/gameicon/game_icon_qq10fc',

    _gid6: '~src/assets/images/default/gameicon/game_icon_11ydj',
    _gid11: '~src/assets/images/default/gameicon/game_icon_dj120',
    _gid7: '~src/assets/images/default/gameicon/game_icon_dlc',
    _gid8: '~src/assets/images/default/gameicon/game_icon_gd11x5',
    _gid22: '~src/assets/images/default/gameicon/game_icon_hb11x5',
    _gid36: '~src/assets/images/default/gameicon/game_icon_js11x5',
    _gid37: '~src/assets/images/default/gameicon/game_icon_sh11x5',
    _gid38: '~src/assets/images/default/gameicon/game_icon_ah11x5',
    _gid40: '~src/assets/images/default/gameicon/game_icon_ln11x5',
    _gid159: '~src/assets/images/default/gameicon/game_icon_fj11x5',
    _gid46: '~src/assets/images/default/gameicon/game_icon_sx11x5',

    _gid23: '~src/assets/images/default/gameicon/game_icon_ahk3',
    _gid24: '~src/assets/images/default/gameicon/game_icon_jsk3',
    _gid25: '~src/assets/images/default/gameicon/game_icon_jlk3',
    _gid26: '~src/assets/images/default/gameicon/game_icon_bjk3',
    _gid33: '~src/assets/images/default/gameicon/game_icon_xfk3',
    _gid160: '~src/assets/images/default/gameicon/game_icon_fjk3',

    _gid39: '~src/assets/images/default/gameicon/game_icon_xyft',
    _gid13: '~src/assets/images/default/gameicon/game_icon_bjpk10',
    _gid43: '~src/assets/images/default/gameicon/game_icon_xysc',
    _gid151: '~src/assets/images/default/gameicon/game_icon_txpk10',
    _gid162: '~src/assets/images/default/gameicon/game_icon_alysc',

    _gid9: '~src/assets/images/default/gameicon/game_icon_fc3d',
    _gid32: '~src/assets/images/default/gameicon/game_icon_hl3d',
    _gid5: '~src/assets/images/default/gameicon/game_icon_shssl',
    _gid10: '~src/assets/images/default/gameicon/game_icon_pl35',
    _gid28: '~src/assets/images/default/gameicon/game_icon_lhc',
    _gid27: '~src/assets/images/default/gameicon/game_icon_bjkl8',
    _gid45: '~src/assets/images/default/gameicon/game_icon_pcdd',

    _gid_kg: '~src/assets/images/default/gameicon/game_icon_jn',

  }
  sizes = {
  }
    
  for k, v in  urls
    .{k}
      bg(v+'@2x.png', sizes[k] || (auto 50%))
      background-position top 20px center
  
