$colors = {
  white: #ffffff,
  black: #333333,
  page: #efefef,
  deeporange: rgb(255,84,35),
  '9': #999,
  '3': #333,
  c: #ccc,
  '102': rgb(102, 102, 102),
  green: green,
  red: red,
  gray: gray,
  blue: blue,
  black: black,
}
