$colors = {
  white: #ffffff,
  black: #333333,
  gray: #666666,
  page: #efefef,
  deeporange: rgb(255,84,35),
  '9': #999,
  '3': #333,
  '0': #000,
  c: #ccc,
  '102': rgb(102, 102, 102),
  '247': rgb(247,247,247),
  '109': rgb(109,109,109),
  green: green,
  red: red,
  gray: gray,
  blue: blue,
  black: black,
}
