$colors = {
  '0': #000,
  '3': #333,
  '9': #999,
  '102': rgb(102, 102, 102),
  '109': rgb(109, 109, 109),
  '247': rgb(247, 247, 247),
  white: #ffffff,
  black: black,
  gray: gray,
  page: #efefef,
  deeporange: rgb(255, 84, 35),
  c: #ccc,
  darkblue: #0b1c2e,
  yellow: #ffa930,
  textc: #63a7e0,
  textc-2: #35c8d2,
  textc-1: #9ccaf0,
  green: green,
  red: #fa2457,
  blue: blue
};
