.sub-method-menu-view {
  padding: 20px;
  .sub-method-item-ls {
    background-color: $theme-bg-color;
    border: solid 2px $theme-bd-color-3;
    justify-content: space-between;
  }
  .sub-method-item {
    width: 348px;
    height: 74px;
    // background-color $theme-bg-color
    background-image: url('~src/assets/images/lotteryCenter/ball_05@2x.png');
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    justify-content: center;
    margin-bottom: 10px;
    &.selected {
      background-image: url('~src/assets/images/lotteryCenter/ball_05_on@2x.png');
    background-size: 348px 100%;
    background-repeat: no-repeat;
    backposition: center;
      .method-name {
        color: $theme-txt-color-4;
      }
      .odd {
        color: $theme-txt-color4;
      }
    }
  }
  .odd-pd-l-5 .odd {
    padding-left: 0.05rem;
  }
  .method-name {
    color: $theme-txt-color-5;
  }
  .odd {
    color: $theme-txt-color1;
  }
  .layout-lr {
    display: flex;
  }
  &.hc6 {
    padding-bottom: 0;
    .sub-method-item-ls {
      .sub-method-item {
        width: 348px;
        height: 74px;
      }
    }
  }
}
