.play-view {
  padding 10px 25px 10px 10px
  .pos-lebel {
    text-align center
    height 70px
    line-height 70px
    box-sizing border-box
    border-bottom solid 1px $theme-bd-color-1
    &.hide {
      display none
    }
  }
  .method {
    border solid 0.01rem $theme-bd-color-1
    &.col {
      display flex
    }
    .ds-row {
      margin-bottom 14px
    }
    .method-item-col {
      padding 0 8px 0 0
    }
    .method-item {
      display flex
      height 70px
      align-items center
      border solid 1px $play-method-item-bd-color
      box-sizing border-box
      background-color $theme-txt-color4
      justify-content center
      border-radius 10px
      flex-direction column
      &.selected {
        color $play-method-item-selected-txt-color
        background-color $play-method-item-selected-bg-color
        .odd {
          color $play-method-item-selected-txt-color
        }
      }
      
    }
    methodItemcircleStyle($width, $height) {
      border-radius 50%
      width $width
      height $height
    }
    .method-item-col.circle {
      &.large .method-item {
        margin 0 0 10px 20px
        methodItemcircleStyle(90px, 90px)
      }
      &.medium .method-item {
        methodItemcircleStyle(80px, 80px)
      }
      &.small .method-item {
        margin 0 0 10px 2px
        methodItemcircleStyle(78px, 78px)
      }
    }
    &::after {
      clear both
    }
    // &.yzzh {
    // }
    &.layout-c-2 {
      width 4.35rem
      float left
      &.left {
       margin-right 0.1rem 
      }
    }
    &.one-line-balls {
      padding 0.2rem 0
      .pos-lebel {
        height 0.66rem
        line-height 0.66rem
        background-color $theme-txt-color-4
        border-bottom none
      }
      .method-item {
        height 0.66rem
        float left
        padding-left 0.08rem
        &.selected {
          background-color transparent
        }
      }
      .method-item-name {
        width 0.46rem
        height 0.46rem
        font-size 0.24rem
      }
    }
    .icon {
      height 0.7rem
      .method-item-name {
        height 0.7rem
        background-color transparent
        border-radius 0
        border none
      }
      .ant-input {
        width 0.9rem
      }
    }
    .white-bg-img {
      height 0.7rem
      .method-item-name {
        width 1.6rem
        height 0.5rem
        border-radius 0.08rem
        font-weight bold
      }
    }
    &.no-bd-b-pos-label {
      .pos-lebel {
        border-bottom none
      }
    }
  }
  .layout-col-float {
    .ds-row {
      display block
      clear left
      .pos-lebel {
        height 160px
      }
    }
    .ds-col {
      float left
    }
  }
  .odd {
    min-width 0.5rem
    color $theme-txt-color1
    padding 0 0.04rem
  }
  .method-item-name {
    min-width 0.25rem
    height 0.25rem
    line-height 0.25rem
    border-radius 50%
    cursor pointer
    display flex
    align-items center
    justify-content center
  }
  .method-item.icon.selected {
    .method-item-name {
      background-color transparent
      border-color transparent
    }
  }
  &.k3 {
    dice() {
      display inline-block
      width 0.5rem
      height 0.5rem
      background-size 0.5rem
      margin-right 0.04rem
    }
    for num in 1 2 3 4 5 6 {
      .icon .method-item-name .icon-item-{num} {
        background url("../../assets/images/default/dice-" + num + "@2x.png") center no-repeat
        dice()
      }
    }
  }
}