  
.book-leading-ball {
  border: 1px solid rgba(193, 193, 193, 0.5);
}
.book-leading-input {
  border: 1px solid rgba(190, 188, 188, 0.38);
}
.book-leading-history {
  .am-list-view-scrollview-content {
    top: 0.253333rem;
    left: 0.293333rem;
    right: 0.293333rem;
    min-width: 50% !important;
  }
}
