.app-header-view {
  height 88px
  background $app-header-bg-color
  .more
  .setting {
    width 44px
    height 44px
    background-image url('~src/assets/images/default/nav-more@2x.png')
    background-repeat no-repeat
    background-position center
    background-size 44px
  }
  .setting {
    background-image url('~src/assets/images/default/nav-set@2x.png')
  }
}
