.app-header-view {
  height 128px
  background-image url('~src/assets/images/home/nav_bg@2x.png')
  .more
  .setting
  .refresh {
    width 23px
    height 28px
    background-image url('~src/assets/images/home/nav_refresh@2x.png')
    background-repeat no-repeat
    background-position center
    background-size 23px
  }
  .setting {
    background-image url('~src/assets/images/default/nav-set@2x.png')
  }
}
